* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#filme {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#filme div {
  width: 18%;
  margin: 6px;
  box-shadow: 0px 0px 10px silver;
  border-radius: 10px;
  transition: ease 0.5s;
}
#filme div img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.voto {
  background-color: red;
  padding: 10px;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  font-family: arial;
  font-weight: bold;
  font-size: 12pt;
  margin-top: -30px;
  margin-left: 10px;
  /* subir o elemento acima dos demais */
  z-index: 9000;
  position: relative;
  border: 3px solid greenyellow;
  box-shadow: 0px 0px 5px black;
}
h2 {
  margin: 10px;
  font-family: verdana;
  font-size: 10pt;
}
.data {
  text-align: center;
  font-family: verdana;
  font-size: 7pt;
  margin: 10px;
}
#filme div:hover {
  transform: scale(1);
  cursor: pointer;
  box-shadow: 0px 0px 0px 100vw rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  z-index: 10000;
}
h1 {
  font-family: verdana;
  text-align: center;
  font-size: 50pt;
  color: red;
}
